<div class= container>
<h2><%= @list.name %></h2>

<p><strong>Details</strong></p>

<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <li class="list-group-item">
    <%= movie.title %>
    <%= movie.overview %>
    <%= movie.poster_url %>
    <%= Bookmark.find_by(movie_id: movie.id, list_id: @list_id).comment %>
    <%= link_to "Delete Bookmark",
        bookmark_path[Bookmark.find_by(movie_id: movie.id, list_id: @list.id)],
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
    %>
    </li>
    <% end %>
</ul>
<br>

<%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back to list', lists_path %>
</div>
